<form method="post" action="/merchants">
    <div>
        <label for="Name">Name: </label>
        <input type="text" name="Name" id="Name" />
    </div>

    <div>
        <label for="Category">Category: </label>
        <input type="text" name="Category" id="Category" />
    </div>

    <button type="submit">Create Merchant</button>
</form>