@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="/home/login"><button>Log In</button></a> <a href="/home/logout"><button>Log Out</button></a>
</div>
