@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @if (ViewData.ContainsKey("CurrentUser"))
    {
        <p>Hello, @ViewData["CurrentUser"]!</p>
        <a href="/home/logout"><button>Log Out</button></a>
    }
    else 
    {
        <a href="/home/login"><button>Log In</button></a>
    }
</div>
