<form method="post" action="/home/login">
    <div>
        <label for="CurrentUser">Name: </label>
        <input type="text" id="CurrentUser" name="CurrentUser"/>
    </div>
    <button>Set As Current User</button>
</form>
